<html>

<head>

    {% load static %}

    <!-- Bootstrap -->
    <link href="{% static 'base_app/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

     <!-- Fonts -->
     <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet"> 
     <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


  <!-- Styles -->
    <link href="{% static 'base_app/css/manage.css ' %}" rel="stylesheet">
</head>

<body>
 <!-- Navbar -->
 <nav class="navbar navbar-expand-lg navbar-dark py-lg-4 ml-auto" id="mainNav">
    <div class="container">
      <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="">Musical Sound</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          {% if user.is_authenticated %}
          <li class="nav-item {% if request.path == '/' %}active{% endif %} px-lg-3" style="font-family: 'Comic Sans MS'">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'Index' %}">Musical Sound</a>
          </li>
          </li>
          <li class="nav-item {% if request.path == '/who_we_are/' %}active{% endif %} px-lg-3">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'Learning_interface' %}">Interfaz</a>
          </li>
          <li class="nav-item {% if request.path == '/about/' %}active{% endif %} px-lg-3">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'Learning_mixture' %}">Mezcla</a>
          </li>
          <li class="nav-item {% if request.path == '/feedback/' %}active{% endif %} px-lg-3">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'Learning_mastering' %}">Masterización</a>
          </li>
          <li class="nav-item {% if request.path == '/feedback/' %}active{% endif %} px-lg-3">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'Tips' %}">Tips y Apoyo</a>
          </li>
          <li class="nav-item {% if request.path == '/feedback/' %}active{% endif %} px-lg-3">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'Evaluations' %}">Evaluaciones</a>
          </li>
          <form id="logout-form" method="POST" action="{% url 'Logout' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-link nav-link text-uppercase text-expanded" style="border: none; background: none; color: #0c0909;margin-left: 2rem">
              <i class="bi bi-box-arrow-left"></i> Cerrar sesión
            </button>
          </form>
          {% else %}
          <li class="nav-item {% if request.path == '/' %}active{% endif %} px-lg-3" style="margin-right: 17rem; font-family: 'Comic Sans MS'">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'Home' %} "  style="font-size: 20px;">Musical Sound</a>
          </li>
          <li class="nav-item {% if request.path == '/sign_up/' %}active{% endif %}" style="margin-left: 16rem">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'Sign_up' %}"><i class="fas fa-user-plus"></i>Crear cuenta</a>
          </li>
          <li class="nav-item {% if request.path == '/login/' %}active{% endif %}" style="margin-left: 0.5rem">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'Login' %}"><i class="fas fa-sign-in-alt"></i>Iniciar sesión</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

<!-- Content -->
{% block content %}

{% endblock %}

<!-- Footer -->
<footer class="footer text-faded text-center py-5">
  <div class="container">
    <p class="m-0">
      <a href="#" class="link">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
        </span>
      </a>
      <a href="#" class="link">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
        </span>
      </a>
      <a href="#" class="link">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
        </span>
      </a>
  </p>
    <p class="m-0 mbt">
      <a href="sample.html" class="link">Política de privacidad ·</a>
      <a href="sample.html" class="link"> Aviso legal ·</a>
      <a href="sample.html" class="link"> Cookies</a>
    </p>
    <p class="m-0 mbt1" style="color: black">&copy; Musical Sound 2022</p>
  </div>
</footer>

    <!-- Bootstrap -->
    <script src="{% static 'base_app/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'base_app/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  </body>
</html>