<html>
    <style>
        #navigation{
            margin:0;
            padding:0;
            list-style: none;
            text-transform: uppercase;
        }

        #navigation li{
            display: inline;
            margin: 0 10px;
        }

    </style>
    <body>
        <ul id="navigation">
            <li>Home</li>
            <li>Aprende la interfaz de FL</li>
            <li>Aprende sobre mezcla</li>
            <li>Aprende sobre masterizacion</li>
            <li>Consejos</li>
            <li>Evaluación de los modulos</li>
            <li>¿Quienes somos?</li>
            <li>Acercade</li>
        </ul>
    </body>
</html>