{% extends 'base_app/head_foot/base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Este será el formulario de respuestas para el módulo de aprendizaje de interfaz gráfica</title>
    </head>
    <body>
    <h1>Resultados</h1>
    <ul>
        {% for respuesta in request.user.respuestausuario_set.all %}
        <li>{{ respuesta.pregunta.texto }} - Tu respuesta: {{ respuesta.opcion.texto }}</li>
        {% endfor %}
    </ul>
    </body>
</html>
{% endblock %}